%tr
  %td= event.name
  %td= event.place
  %td= event.begin_at
  %td
    = link_to  event do
      %i.icon-eye-open
      = t("actions.Szczegoly")
  %td
    = link_to  edit_event_path(event) do
      %i.icon-edit
      = t("actions.Aktualizuj")
  %td= link_to t("actions.Usuń"), event, confirm: 'Czy jestes pewny?', method: :delete, :class => "btn btn-danger"
