.well
  = form_for @event, html: { class: 'form-horizontal' } do |f|
    - if @event.errors.any?
      .alert
        %h2= "#{pluralize(@event.errors.count, "Blad")} Zapis nie powiodl sie:"
        %ul
          - @event.errors.full_messages.each do |msg|
            %li= msg

    .control-group
      = f.label :name, class: 'control-label'
      .controls
        = f.text_field :name
    .control-group
      = f.label :description, class: 'control-label'
      .controls
        = f.text_area :description
    .control-group
      = f.label :place, class: 'control-label'
      .controls
        = f.text_field :place
    .control-group
      = f.label :begin_at, class: 'control-label'
      .controls
        = f.text_field :begin_at, class: 'datepicker'
    .form-actions
      = f.submit :class => "btn btn-primary"
