.page-header
  %h1= @event.name

%p= @event.description

.page-header
  %h1 Opcje głosowania

- if @event.pool && !@event.pool.voted?(current_user) && !@event.pool.finished
  .well
    = form_for @vote, url: event_pool_votes_path(@event, @event.pool), html: { class: 'form-horizontal' }  do |f|
      - @event.pool.questions.each do |q|
        .control-group
          = f.label :question_id, q.content, class: "control-label"
          .controls
            = f.radio_button :question_id, q.id
      .form-actions
        = f.submit t('views.events_show.vote')

- elsif @event.pool.voted?(current_user) && !@event.pool.finished
  czekam na wynki
- else
  wyniki

- content_for :sidebar do
  .well
    .page-header
      %h2= t('defaults.header.sidebar')
    %ul.nav
      %li
        = link_to  events_path do
          %i.icon-backward
          = t('default.actions.back')
      %li
        - unless @event.pool.blank?
          = link_to edit_event_pool_path(@event, @event.pool)  do
            %i.icon-globe
            = t('default.actions.update_pool')
        - else
          = link_to new_event_pool_path(@event) do
            %i.icon-filter
            = t('default.actions.create_pool')
