!!!
%html
  %head
    %title G10Rails
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        .container
          %ul.nav
            %a.brand{:href => root_path}
              Project G10
          %ul.nav
            %li= link_to 'Wydarzenia', events_path
          
          %ul.nav
            %li= link_to 'Pytania' , questions_path

          %ul.nav
            %li= link_to 'Wyniki'

          %ul.nav.pull-right
            %li= link_to 'Log out', destroy_user_session_path, :method => :delete

    .container#page-wrapper
      .row
        .span8
          = yield
        .span4= yield(:sidebar)
        .clear
        %footer
          %address.pull-left
            %strong Powered by Group G10
            %br
              Gdansk University of Technology
              %br
                Faculty of Applied Physics and Mathematic,
                %br
                  Poland 2012
          .pull-right
            %strong Team Leader
            %br
              %a{:href => "mailto:pawel.witold.okon@gmail.com"} Pawel Okon
              %br
                %abbr{:title => "Phone"} P:
                (+48) 531-667-550
          .clear
